* {
    font-family: "Courier New";
}
    
body {
    /* CSS HEX */
--viridian: #558b6eff;
--morning-blue: #88a09eff;
--eggplant: #704c5eff;
--english-lavender: #b88c9eff;
--orchid-pink: #f1c8dbff;
--eigengrau: #16161d;

    margin: 4rem;
    background-color: white;
    color: var(--eigengrau);
}

button {
    background-color: white;
    border: none;
    border-radius: 30px;
    color: var(--eigengrau);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }

/*
  button:hover {
    background-color: var(--eggplant);
  }
*/

.center {
    display: flex;
    justify-content: center;
}

 .right {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 5rem;
}

.margin-top {
    margin-top: 2rem;
}

.timer {
    font-size: 3rem;
    /* color: black; */
}

#clock {
    width: 10rem;
    margin-top: 3rem;
}

#menu {
    width: 100%;
}

#inputDiv {
    height: 0px;
    border: 0px;
    opacity: 0;
}