* {
    font-family: 'Open Sans', sans-serif;

}
    
body {
    /* CSS HEX */
--viridian: #558b6eff;
--morning-blue: #88a09eff;
--eggplant: #704c5eff;
--english-lavender: #b88c9eff;
--orchid-pink: #f1c8dbff;
--eigengrau: #16161d;

    background-color: white;
    color: var(--eigengrau);
    margin: 0px;
}

button {
    background-color: white;
    border: none;
    border-radius: 30px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    /* -webkit-tap-highlight-color: transparent; */
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 3rem;
}



